.BattleLog
{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 1300px;
    height: 266px;
    overflow:auto;
    resize: none;
    font-size: 18px;
    font-weight: bolder;
}