.pokemonCard {
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.pokemonCard img {
  width: 120px;
  height: 120px;
}

.pokemonCard div
{
  font-size: 14px;
  font-weight: bold;  
}

.InBattle
{
  color: red;
  display: inline;
  font-weight: normal;
}

.button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 0 5px; 
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.button:hover {
  background: #eee;  
}

.button:disabled
{
  background: #ddd;
  cursor: not-allowed;
}